<!-- Sidebar Start -->
<aside class="left-sidebar bg-white shadow-sm">

    <div class="p-3">

        <!-- LOGO + NOM -->
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center gap-2">
                <img src="{{ asset('assets/images/logos/logo.png') }}" width="50" alt="">
                <div>
                    <h6 class="mb-0 fw-bold text-success">SGRM</h6>
                    <small class="text-muted">Système de Gestion des recettes Melaky</small>
                </div>
            </div>

            <div class="d-xl-none cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x"></i>
            </div>
        </div>

        <!-- MENU -->
        <nav>

            <ul class="nav flex-column">

                <!-- DASHBOARD -->
                <li class="nav-item mb-2">
                    <a class="nav-link d-flex align-items-center gap-2 rounded px-3 py-2
                        {{ app.request.attributes.get('_route') == 'app_default' ? 'bg-light fw-bold' : '' }}"
                       href="{{ path('app_default') }}">
                        <i class="ti ti-layout-dashboard"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>

                <!-- ================= AGENTS ================= -->
                <li class="text-uppercase text-muted small mt-3 mb-2 px-3">
                    Agents & Quittances
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded
                        {{ app.request.attributes.get('_route') in ['app_agent','app_quittance_new'] ? 'bg-light fw-bold' : '' }}"
                       href="{{ path('app_agent') }}">
                        <i class="ti ti-users"></i>
                        <span>Agents percepteurs</span>
                    </a>
                </li>

                <!-- ================= VERSEMENTS ================= -->
                <li class="text-uppercase text-muted small mt-4 mb-2 px-3">
                    Flux financiers
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded
                        {{ app.request.attributes.get('_route') in ['app_versement_agent', 'app_versement_agent_new','app_versement_agent_detail'] ? 'bg-light fw-bold' : '' }}"
                        href="{{ path('app_versement_agent') }}">
                        <i class="ti ti-arrow-right-circle"></i>
                        <span>Versement Agent → Régisseur</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded
                        {{ app.request.attributes.get('_route') in ['app_versement_regisseur', 'app_versement_regisseur_new','app_versement_regisseur_detail'] ? 'bg-light fw-bold' : '' }}"
                       href="{{ path('app_versement_regisseur') }}">
                        <i class="ti ti-building-bank"></i>
                        <span>Versement Régisseur → Trésor</span>
                    </a>
                </li>
                <!-- ================= AGENTS ================= -->
                <li class="text-uppercase text-muted small mt-3 mb-2 px-3">
                    Etat périodique
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded
                        {{ app.request.attributes.get('_route') == 'app_etat_periodique' ? 'bg-light fw-bold' : '' }}"
                       href="{{ path('app_etat_periodique') }}">
                        <i class="ti ti-calendar"></i>
                        <span>Pour les agents</span>
                    </a>
                    <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded
                        {{ app.request.attributes.get('_route') == 'app_etat_regisseurs' ? 'bg-light fw-bold' : '' }}"
                       href="{{ path('app_etat_regisseurs') }}">
                        <i class="ti ti-calendar"></i>
                        <span>Pour les régisseurs</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- Sidebar End -->